body {
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
}

.container {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 28px;
  font-weight: 300;
  margin: 50px 0 0;
}
.subtitle {
  margin-bottom: 20px;
}

.form {
  background: #fff;
  width: 450px;
  margin: 10px 0 20px;
  padding: 40px 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input[type="text"], .form input[type="number"] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #e2e2e2;
}

.form input[type="submit"] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #4CAF50;
  padding: 15px;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
  width: 40%;
  margin-top: 15px;
}

.form input[type="submit"]:hover, .form input[type="submit"]:active, .form input[type="submit"]:focus {
  background: #43A047;
}

.id-helper {
  background-color: #fff;
  color: #333;
  padding: 5px;
  font-size: 12px;
}

.highlight {
  color: red;
  border: 2px solid red;
  padding: 5px 0;
  font-weight: 700;
}

.error {
  color: #fff;
  font-weight: 400;
  background-color: #C3423F;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  margin: 0;
}
