body {
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
  margin-top: 100px;
}

.form {
  background: #fff;
  max-width: 360px;
  margin: 30px auto;
  padding: 45px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input[type="text"], .form input[type="number"] {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 90%;
  margin-bottom: 15px;
  padding: 15px;
  font-size: 14px;
  border: 1px solid #e2e2e2;
}

.form input[type="submit"] {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #4CAF50;
  width: 100%;
  padding: 15px;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form input[type="submit"]:hover, .form input[type="submit"]:active, .form input[type="submit"]:focus {
  background: #43A047;
}
